.button{
    position:relative;
    display:inline-block;
    margin:20px;
}
  
.button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#3C4048;
    display:block;
    position:relative;
    padding:20px 35px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #B2B2B2, 0 10px 0 #B2B2B2;
    -moz-box-shadow:inset 0 1px 0 #B2B2B2, 0 10px 0 #B2B2B2;
    box-shadow:inset 0 1px 0 #3C4048, 0 10px 0 #727272;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
  
.button a:active{
    top:10px;
    background-color:#3C4048;
    
    -webkit-box-shadow:inset 0 1px 0 #B2B2B2, inset 0 -3px 0 #B2B2B2;
    -moz-box-shadow:inset 0 1px 0 #B2B2B2, inset 0 -3pxpx 0 #B2B2B2;
    box-shadow:inset 0 1px 0 #3C4048, inset 0 -3px 0 #3C4048;
}
  
.button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
table.keyboard {
    font-family: "Lucida Console", Monaco, monospace;
    width: 100px;
    height: 240px;
    margin-left: 50px;
    text-align: center;
    border: solid #3C4048;
    border-radius: 50px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    padding: 20px;

}

* {
    box-sizing: border-box;
  }
  html {
    height: 80%;
  }
  body {
    background-color: #EAEAEA;
    min-height: 100%;
    opacity: 1;
    background-size: 16px 28px;
    background: rgb(0,171,179);
    background: linear-gradient(90deg, rgba(0,171,179,1) 0%, rgba(60,64,72,1) 60%,  rgba(60,64,72,1) 58%, rgba(75,78,85,1) 69%, rgba(90,92,98,1) 73%, rgba(178,178,178,1) 100%);
    overflow: hidden;
  }
  .bloques {
    width: 550px;
    height: 110px;
    margin-left: 1020px;
    margin-top: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .centered {
    width: 750px;
    height: 110px;
    margin-left: 1080px;
    margin-top:20px ;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .group {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
  }
  
  label {
    position: absolute;
    top: 36.6666666667px;
    color: rgba(255, 255, 255, 0.5);
    font: 400 36.6666666667px Roboto;
    cursor: text;
    transition: 0.25s ease;
  }
  
  input {
    display: block;
    width: 100%;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    color: white;
    background: transparent;
    font-size: 36.6666666667px;
    transition: 0.3s ease;
  }
  input:valid ~ label {
    top: 0;
    font: 700 22px Roboto;
    color: rgba(0, 218, 230, 0.5);
  }
  input:focus {
    outline: none;
  }
  input:focus ~ label {
    top: 0;
    font: 700 22px Roboto;
    color: #2196f3;
  }
  input:focus ~ .bar:before {
    transform: translateX(0);
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: white !important;
  }
  
  .bar {
    background: rgba(0, 218, 230, 0.5);
    content: "";
    width: 170px;
    height: 3.6666666667px;
    margin-top: 100px;
    transition: 0.3s ease;
    position: relative;
  }
  .bar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    background: #2196f3;
    transform: translateX(-100%);
  }
  
  ::selection {
    background: rgba(33, 150, 243, 0.3);
  }

  .area{
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.489);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.ladizq1 {
  font-family: Roboto, sans-serif;
  /* background-color: #EAEAEA; */
  font-weight: 245;
  font-size: 26px;
  color: #fff;
  margin-top: -5px;
  width: 1000px;
  height: 720px;
  overflow: hidden;
  margin-left: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.noticia {
  width: 100%;
  margin: 20px auto;
  color: #fff;
  padding-top: 10px;
}
div.noticia svg.derecha {
  fill: #fff;
  float: right;
  margin-right: 70px;
  margin-top: -10px ;
  padding: 10px;
  border: solid #000;
  border-radius: 20px;
}
div.noticia img.derecha {
  fill: #fff;
  float: right;
  margin-right: 70px;
  margin-top: -10px ;
  padding: 10px;
  border: solid #000;
  border-radius: 20px;
}
div.noticia2 {
  width: 130%;
  margin: 20px auto;
  margin-top: 90px;
  color: #fff;
  padding-top: 10px;
}
div.imagender {
  fill: #fff;
  float: right;
  margin-right: -90px;
  margin-top: -100px;
  padding: 10px;
  border: solid #000;
  border-radius: 20px;
}
div.imagender2 {
  fill: #fff;
  float: right;
  margin-top: -150px;
  margin-right: 350px;
  padding: 10px;
}
.noticiaimagender {
  font-family: Roboto, sans-serif;
  font-weight: 245;
  font-size: 26px;
  color: #fff;
  width: 500px;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 60px;
  margin-top: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}