@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  color: black;
  margin: 0;
  padding: 0;
}
body {
  background-color: #EAEAEA;
  min-height: 100%;
  opacity: 1;
  background-size: 16px 28px;
  background: rgb(0,171,179);
  background: linear-gradient(90deg, rgba(0,171,179,1) 0%, rgba(60,64,72,1) 60%,  rgba(60,64,72,1) 58%, rgba(75,78,85,1) 69%, rgba(90,92,98,1) 73%, rgba(178,178,178,1) 100%);
  overflow: hidden;
}

body::-webkit-scrollbar {
  
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-side {
  grid-column: 1 / 2;
}

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-side {
  grid-column: 1 / 2;
}

main {
  grid-column: 2 / 3;
  text-align: left;
  margin-top: -40px;
  margin-left: 10px;
  padding:0px 100px;    
}

.right-side {
  margin-top: -605px;
  grid-column: 3 / 4;
}

.footer {
  grid-column: 1 / 4;
}
.centro{
  font-size: 25px;
  font-family: 'Open Sans';
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(249, 248, 248);
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  text-align: left;
  display: none;
  margin-left: 20px;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #1fb2b4;
}

.fa-secondary {
  color: #b3b3b3;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logobalanza{
  width: 200px;
  height: 200px;
  margin-top: 0px;
  margin-left: 0px;
  transform: rotate(0deg);
  background-image: url(images/logo_balanza.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: var(--transition-speed);
}
.botonimagen{
  background-image: url(images/peso.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:200px;
  width:200px;
  border-radius: 8px;
  transform: rotate(0deg);
  background-position:center;
}
.logopeso{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 0px;
  transform: rotate(0deg);
  background-image: url(images/peso.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.rcebolla{
  width: 250px;
  height: 250px;
  margin-top: 30px;
  margin-left: 0px;
  transform: rotate(0deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  transition: var(--transition-speed);
}
.rlimon{
  width: 333px;
  height: 200px; 
  margin-top: 30px;
  margin-left: -5px;
  transform: rotate(0deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  transition: var(--transition-speed);
}
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: flex;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
.container-documento {
  margin-top: -80px;
  margin-bottom: 50px;
  margin-left: 190px;
  text-align: left;
  font-family: 'share tech mono', monospace;
  color: #ffffff;
  text-shadow: 0 0 20PX rgb(2, 28, 66),0 0 20px rgb(2, 2, 73);
}
.container-boton {
  display:inline-block;
  color: #791c1c;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 70%;
  left: 52%;
  margin: -25px 0 0 -25px;
}

.container-pesaje {
  display:inline-block;
  color: #791c1c;
  border: 30px solid transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -25px 0 0 -25px;
  align-items: center;
}
.container-bloques {
  display:inline-block;
  border: 30px solid transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 27%;
  margin: -25px 0 0 -25px;
  margin-left: 15px;
  align-items: center;
}
.container-clock {
  margin-top: 0px;
  margin-right: 30px;
  text-align: right;
  font-family: 'share tech mono', monospace;
  color: #ffffff;
  text-shadow: 0 0 20PX rgb(2, 28, 66),0 0 20px rgb(2, 2, 73);
}

.container-clock h1 {
  font-size: 25px;
  font-family: 'Open Sans';
}

.container-clock p {
  font-size: 25px;
  font-family: 'Open Sans';
}

.container-recomendacion{
  display:inline-block;
  color: #791c1c;
  border: 40px solid transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60%;
  right: 15%;
  margin: -25px 0 0 -25px;
  align-items: center;
}
.container-listado{
  display:inline-block;
  color: transparent;
  border: 50px solid;
  width: 68px;
  height: 50px;
  position: absolute;
  top: 16%;
  right: 13%;
  margin: -38px 0 0 -25px;
  align-items: center;
  transition: width 100ms ease;
}
.nav-item-list {
  width: 400%;
}

.nav-item-list:last-child {
  margin-top: auto;
  width: 400%;
}

.nav-link-list {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(0%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link-list:hover {
  border-radius: 40px;
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
  transition : 226ms;
  transform : translateY(-1px);
  background-color: #3C4048;
  color: #3C4048;
  border: solid 2px #ffffff;
}
.nav-link-list svg {
  width: 2rem;
  min-width: 2rem;
  margin: -0.3rem 1.5rem;
}
.link-texto {
  font-family: Roboto, sans-serif;
  font-weight: 105;
  font-size: 16.5px;
  margin-left: -25px;
  margin-top: -5px;
  width: 300px;
  color: #ffffff;
}

.btn1{
font-family: Roboto, sans-serif;
font-weight: 245;
font-size: 26px;
color: #fff;
background-color: #3C4048;
border: 2px solid #3C4048;
padding: 12px 31px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 44px 48px 0px 0px;
transition : 226ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn1:hover{

transition : 226ms;
padding: 10px 37px;
transform : translateY(-4px);
background-color: #fff;
color: #3C4048;
border: solid 2px #3C4048;
}

.btn2{
font-family: Roboto, sans-serif;
font-weight: 245;
font-size: 24px;
color: #fff;
background-color: #3C4048;
border: 2px solid #3C4048;
padding: 12px 42px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 0px;
transition : 226ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn2:hover{
transition : 226ms;
padding: 10px 47px;
transform : translateY(-4px);
background-color: #fff;
color: #3C4048;
border: solid 2px #3C4048;
}
.btn3{
  font-family: Roboto, sans-serif;
  font-weight: 245;
  font-size: 20px;
  color: #fff;
  background-color: #3C4048;
  border: 2px solid #3C4048;
  padding: 12px 54px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0px 0px 44px 48px;
  transition : 226ms;
  transform: translateY(-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  }
  
  .btn3:hover{
  transition : 226ms;
  padding: 10px 57px;
  transform : translateY(-4px);
  background-color: #fff;
  color: #3C4048;
  border: solid 2px #3C4048;
  }


  @keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 15rem;
    --fg: #000000;
    --bg: #00b4bd;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, rgb(255, 255, 255) 80%, transparent 0 99.9%, rgb(0, 0, 0) 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5.5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
   /*  content: counter(percentage) ' Kg'; */
  }

  .zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-left: 0pt;
    margin-top: 20pt;
    }
    @-webkit-keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes zoomInDown {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 
  @keyframes grow{
    from{
      transform: scaleY(0);
    }
  }


/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

}


/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #78c0fe;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.left-side {
  grid-column: 1 / 2;
}

.circle {
  margin-left:-30px;
  margin-top:-30px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 70%;
}

.circle-1 {
  background-color: black;
  top: 50px;
  left: 50px;
}

.container-cart{
  color: transparent;
  border: 50px solid;
  width: 68px;
  height: 50px;
  position: absolute;
  top: 26%;
  right: 13%;
  margin: -25px 0 0 -25px;
  align-items: center;
  transition: width 100ms ease;
}

.customTable {
  display:"none";
  width: 300px;
  margin-top: -20px;
  margin-left: 0px;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #3C4048;
  border-style: solid;
  color: #ffffff;
  table-layout: auto;
  text-align: center;
  height: auto;
}

.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #3C4048;
  border-style: solid;
  padding: 5px;
}

.customTable thead {
  background-color: #00b3bd;
}

a.btnqr{
  background: linear-gradient(to right,#3C4048 ,#00ABB3);
  background-color: #00b3bd;
  color: #fff;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: right;
 }
 a.btnqr span{
  margin-right: 15px;
  display: block;
  width: 29px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
 }
 a.btnqr:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
 }
 a.btnqr:active{
  transform: scale(0.95);
 }
 .ultima-fila {
  background-color:rgba(255, 255, 255, 0);
  font-weight: bold;
  height: 15px;
  padding: 0px;
  border-top: 1px solid black;
}

.area{
  width: 100%;
  height:100vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.489);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.centromodal{
  font-size: 25px;  
  width: 300px; /* ancho del elemento */
  margin-left:1250px;
  margin-top: -140px;
  height: 330px;
  font-family: 'Open Sans';
  align-items: center;
  text-align: center;
  padding: 0;
  color: rgb(249, 248, 248);
  grid-column: 3 / 4;
  z-index: 1; /* Colocamos el modal encima de todos los demás elementos */
}

#modal {
  position: fixed;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  z-index: 1; /* Colocamos el modal encima de todos los demás elementos */
}

#modal > * {
  background-color: white;
  width: 330px;
  color: #000;
  padding: 10px;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.loader {
  font-size: 40px;
  margin: 45% auto;
  margin-left:60pt;
  margin-top:60pt;
  width: 1em;
  height: 1em;
  border-radius: 90%;
  position: absolute;
  text-indent: -9999em;
  background-color: black;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #1fb2b4, 2em -2em 0 0em #1fb2b4, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #1fb2b4, 0em 3em 0 -0.5em #1fb2b4, -2em 2em 0 -0.5em #1fb2b4, -3em 0em 0 -0.5em #1fb2b4, -2em -2em 0 0em #1fb2b4;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #1fb2b4, 2em -2em 0 0.2em #1fb2b4, 3em 0em 0 0em #1fb2b4, 2em 2em 0 -0.5em #1fb2b4, 0em 3em 0 -0.5em #1fb2b4, -2em 2em 0 -0.5em #1fb2b4, -3em 0em 0 -0.5em #1fb2b4, -2em -2em 0 -0.5em #1fb2b4;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 0em #1fb2b4, 3em 0em 0 0.2em #1fb2b4, 2em 2em 0 0em #1fb2b4, 0em 3em 0 -0.5em #1fb2b4, -2em 2em 0 -0.5em #1fb2b4, -3em 0em 0 -0.5em #1fb2b4, -2em -2em 0 -0.5em #1fb2b4;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #1fb2b4, 3em 0em 0 0em #1fb2b4, 2em 2em 0 0.2em #1fb2b4, 0em 3em 0 0em #1fb2b4, -2em 2em 0 -0.5em #1fb2b4, -3em 0em 0 -0.5em #1fb2b4, -2em -2em 0 -0.5em #1fb2b4;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #1fb2b4, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 0em #1fb2b4, 0em 3em 0 0.2em #1fb2b4, -2em 2em 0 0em #1fb2b4, -3em 0em 0 -0.5em #1fb2b4, -2em -2em 0 -0.5em #1fb2b4;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #1fb2b4, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #1fb2b4, 0em 3em 0 0em #1fb2b4, -2em 2em 0 0.2em #1fb2b4, -3em 0em 0 0em #1fb2b4, -2em -2em 0 -0.5em #1fb2b4;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #1fb2b4, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #1fb2b4, 0em 3em 0 -0.5em #1fb2b4, -2em 2em 0 0em #1fb2b4, -3em 0em 0 0.2em #1fb2b4, -2em -2em 0 0em #1fb2b4;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #1fb2b4, 2em -2em 0 -0.5em #1fb2b4, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #1fb2b4, 0em 3em 0 -0.5em #1fb2b4, -2em 2em 0 0em #1fb2b4, -3em 0em 0 0em #1fb2b4, -2em -2em 0 0.2em #1fb2b4;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #1fb2b4, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #1fb2b4, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #1fb2b4, 2em 2em 0 -0.5em #1fb2b4, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #1fb2b4, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #1fb2b4, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #1fb2b4, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #1fb2b4, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #1fb2b4, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #1fb2b4;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #1fb2b4, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #1fb2b4, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #1fb2b4, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #1fb2b4, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #1fb2b4, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}